@use '../../partials/mixins';

.main {
  .discover-container {
    display: flex;
    flex-direction: column;
    height: 72.1vh;
    justify-content: flex-end;
    padding-bottom: 60px;
    padding-left: 60px;
    text-transform: uppercase;

    button {
      background-color: #000;
      border: 1px solid #000;
      border-radius: 5px;
      color: #fff;
      cursor: pointer;
      font-weight: 300;
      margin-top: 20px;
      padding: 12px 40px;
      text-align: center;
      text-transform: uppercase;
      transition: background-color 0.25s ease-out, color 0.25s ease-out,
        font-weight 0.25s ease-out;
      width: max-content;

      &:hover {
        background-color: #f577a1;
        color: #000;
        font-weight: 500;
      }
    }
  }
}

@media (max-width: 1024px) {
  .main {
    .discover-container {
      @include mixins.flex-center;
      flex-direction: column;
      height: calc(100vh - 83.89px - 20px);
      padding-block: 0;
      padding-inline: 5px;
      text-align: center;
    }
  }
}
