@use '../partials/mixins';

.header {
  background-color: transparent;
  flex-direction: column;
  gap: 20px;
  @include mixins.flex-center();
  transition: 0.3s ease-out;

  &:hover {
    background-color: #fff;
  }

  .auroraglow-logo {
    max-width: 250px;
    padding-top: 20px;
    width: 100%;
  }

  .header__content {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    padding-inline: 50px;
    position: relative;
    width: 100%;

    .header__navbar {
      ul {
        display: flex;
        gap: 20px;

        li {
          cursor: pointer;
          text-transform: uppercase;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .search-bar {
      cursor: pointer;
      @include mixins.flex-center();
      gap: 20px;
      position: absolute;
      right: 70px;

      &:hover .search-bar__search-button {
        font-weight: bold;
      }

      .search-bar__search-button {
        background-color: transparent;
        border: none;
        cursor: pointer;
      }

      img {
        max-width: 20px;
        width: 100%;
      }
    }
  }

  .open-search-bar {
    background-color: #f7f6f7;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    padding: 35px 70px;
    width: 100%;

    #search-input {
      background-color: transparent;
      border: none;
      font-size: 30px;
      padding: 5px;
      width: 100%;
    }

    img {
      cursor: pointer;
      max-width: 30px;
      width: 100%;
    }
  }
}

.header.white-bg {
  background-color: #fff;
}

@media (max-width: 1024px) {
  .header {
    .header__content {
      display: none;
    }
  }
}
