@use '../partials/mixins';
@use 'navbar/SmallSearchIcon';
@use 'navbar/CloseMenuButton';

.header {
  background-color: transparent;
  flex-direction: column;
  gap: 20px;
  @include mixins.flex-center();
  position: relative;
  transition: 0.3s ease-out;

  &:hover {
    background-color: #fff;
  }

  .auroraglow-logo {
    max-width: 250px;
    padding-top: 20px;
    width: 100%;
  }

  .header__content {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    padding-inline: 50px;
    position: relative;
    width: 100%;

    .header__navbar {
      ul {
        display: flex;
        gap: 20px;

        li {
          cursor: pointer;
          text-transform: uppercase;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .search-bar {
      cursor: pointer;
      @include mixins.flex-center();
      gap: 20px;
      position: absolute;
      right: 70px;

      &:hover .search-bar__search-button {
        font-weight: bold;
      }

      .search-bar__search-button {
        background-color: transparent;
        border: none;
        cursor: pointer;
      }
    }
  }

  .open-search-bar {
    background-color: #f7f6f7;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    padding: 35px 70px;
    position: absolute;
    top: 163.422px;
    width: 100%;
    z-index: 1;

    #search-input {
      background-color: transparent;
      border: none;
      font-size: 30px;
      padding: 5px;
      width: 100%;
    }

    svg[name='sm-openSearchIcon'] {
      cursor: pointer;
      max-width: 30px;
      width: 100%;
    }
  }
}

.header.white-bg {
  background-color: #fff;
}

@media (max-width: 1024px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 30px;

    .small-screen-search-button {
      background-color: transparent;
      border: none;
      cursor: pointer;
    }

    .small-screen-search-bar-container {
      background-color: #fff;
      height: 100vh;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1;

      .search-container {
        @include mixins.flex-center;
        justify-content: space-evenly;

        button {
          background-color: transparent;
          border: none;
          cursor: pointer;

          &:nth-child(1) {
            padding-top: 4px;
            padding-left: 2px;
          }
        }

        input[type='search'] {
          border: none;
          border-bottom: 1px solid #ccc;
          padding: 12px 5px;
          width: 70%;
        }

        // remove the X from input search when it has a value
        input[type='search']::-webkit-search-decoration,
        input[type='search']::-webkit-search-cancel-button,
        input[type='search']::-webkit-search-results-button,
        input[type='search']::-webkit-search-results-decoration {
          display: none;
        }
      }
    }

    .small-screen-navbar-container {
      background-color: #fff;
      display: flex;
      height: 100vh;
      left: 0;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 1;

      .darker-background {
        background-color: #000;
        height: 100%;
        max-width: 50px;
        opacity: 0.6;
        width: 100%;
      }

      .small-screen-navbar-container__navbar {
        overflow-y: auto;
        width: 100%;

        ul {
          width: 100%;

          .navbar__item {
            width: 100%;

            .topic {
              border-bottom: 1px solid #ccc;
              padding: 17px 20px;
            }

            .topic__options {
              .topic-option {
                padding-left: 40px;
              }
            }

            .topic__options.closed {
              display: none;
            }
          }
        }
      }
    }

    .auroraglow-logo {
      max-width: 130px;
      padding-bottom: 20px;
    }

    .hamburger-button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      height: 18px;
      position: relative;
      width: 27px;

      .hamburger-button__black-bar {
        background-color: #000;
        height: 2px;
        left: 0;
        position: absolute;
        width: 100%;

        &:nth-child(1) {
          top: 0;
        }

        &:nth-child(2) {
          top: 50%;
          transform: translateY(-50%);
        }

        &:nth-child(3) {
          bottom: 0;
        }
      }
    }
  }

  .topic {
    align-items: center;
    display: flex;
    justify-content: space-between;

    .topic__title {
      font-size: 16px;
      font-weight: 400;
    }

    .navbar__see-more {
      cursor: pointer;
      display: inline-block;
      height: 20px;
      position: relative;
      width: 15px;

      .navbar-see-more__black-bar {
        background-color: #000;
        cursor: pointer;
        height: 1px;
        left: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-40%);
        width: 100%;

        &:nth-child(2) {
          transform: rotate(90deg);
        }
      }
    }

    .navbar__see-less {
      cursor: pointer;
      display: inline-block;
      height: 20px;
      position: relative;
      width: 15px;

      .navbar-see-less__black-bar {
        background-color: #000;
        cursor: pointer;
        height: 1px;
        left: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-40%);
        width: 100%;
      }
    }
  }
}
