@use 'partials/variables';

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: variables.$roboto-font;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

strong {
  color: variables.$highlighted-color;
}
